%footer
  %nav.socmed
    %ul
      %li=link_to "dribbble", "https://dribbble.com/QueryCreative", class: "social"
      %li=link_to "forrst", "http://zurb.com/forrst/people/QueryCreative", class: "social"
      %li=link_to "facebook", "https://www.facebook.com/QueryCreativeDesign", class: "social"
      %li=link_to "google+", "https://plus.google.com/+QuerycreativeNetJS", class: "social"
      %li=link_to "twitter", "https://twitter.com/QueryCreative", class: "social"
      %li=link_to "linkedin", "https://www.linkedin.com/pub/joshua-schmitz/74/578/165", class: "social"
  .contact
    = link_to "Contact", "/contact", class: "button contact-icon"
  .copyright
    Joshua J. Schmitz, D/B/A:
    %br
    Querycreative © 2015 
