%section#process{:class => @page}
  .heading
    %h2 Process
    %h4.quote Creativity is knowing how to hide your sources
  %article
    .processee
      .content.ideation
        %h2 Ideation
        %p
          Exploration and research is initiated based on project guidelines – this includes brainstorming and developing core concepts and themes for the project.
    .processee
      .content.inspiration
        %h2 Inspiration
        %p
          Creation of sketches and design mock-ups in Adobe Creative Suite programs leads to connecting concepts with the visual elements of design on a fundamental level.
    .processee
      .content.implementation
        %h2 Implementation
        %p
          Reiteration and sometimes consternation, leads to the final phase. After approval, development occurs – whether coding, printing or simply sending off the deliverables, we’ve reached the destination.
