-@title = "Art"
-@page = "art"

%section.studio
  %article
    %h2 The Metal
    .flex
      .flexy
        %a{href: '/images/portfolio/studio/metal-arm.jpg', "data-lightbox" => "metal", "data-title" => "The Wolverine"}
          =image_tag ('/images/portfolio/studio/metal-arm.jpg')

      .flexy
        %a{href: '/images/portfolio/studio/rabbid.jpg', "data-lightbox" => "metal", "data-title" => "A Rabbid"}
          =image_tag ('/images/portfolio/studio/rabbid.jpg')
      .flexy
        %a{href: '/images/portfolio/studio/speeder.jpg', "data-lightbox" => "metal", "data-title" => "A Speeder"}
          =image_tag ('/images/portfolio/studio/speeder.jpg')
  %article
    %h2 Printmaking
    .flex
      .flexy
        %a{href: '/images/portfolio/studio/cd-print.jpg', "data-lightbox" => "printmaking", "data-title" => "Cinco Discos"}
          =image_tag ('/images/portfolio/studio/cd-print.jpg')
      .flexy
        %a{href: '/images/portfolio/studio/polystyrene-dream.jpg', "data-lightbox" => "printmaking", "data-title" => "Polystyrene Dream"}
          =image_tag ('/images/portfolio/studio/polystyrene-dream.jpg')
      .flexy
        %a{href: '/images/portfolio/studio/film.jpg', "data-lightbox" => "printmaking", "data-title" => "Still Frame Life"}
          =image_tag ('/images/portfolio/studio/film.jpg')
      .flexy
        %a{href: '/images/portfolio/studio/morpheus.jpg', "data-lightbox" => "printmaking", "data-title" => "The Melancholy Mind of Orpheus"}
          =image_tag ('/images/portfolio/studio/morpheus.jpg')
      .flexy
        %a{href: '/images/portfolio/studio/retching-chariot.jpg', "data-lightbox" => "printmaking", "data-title" => "Chair Riots of 'da Gawds"}
          =image_tag ('/images/portfolio/studio/retching-chariot.jpg')
      .flexy
        %a{href: '/images/portfolio/studio/resting-place.jpg', "data-lightbox" => "printmaking", "data-title" => "Mirror of Torab"}
          =image_tag ('/images/portfolio/studio/resting-place.jpg')
      .flexy
        %a{href: '/images/portfolio/studio/collograph.jpg', "data-lightbox" => "printmaking", "data-title" => "When The Moon's Reaching Out"}
          =image_tag ('/images/portfolio/studio/collograph.jpg')
      .flexy
        %a{href: '/images/portfolio/studio/chernobyl-2.jpg', "data-lightbox" => "printmaking", "data-title" => "Chernobyl Child's Play"}
          =image_tag ('/images/portfolio/studio/chernobyl-2.jpg')
      .flexy
        %a{href: '/images/portfolio/studio/beatles.jpg', "data-lightbox" => "printmaking", "data-title" => "The Beatles"}
          =image_tag ('/images/portfolio/studio/beatles.jpg')
  %article
    %h2 Mixed Media
    .flex
      .flexy
        %a{href: '/images/portfolio/studio/Gods-Atomic-Answer-to-Life.jpg', "data-lightbox" => "mixedmedia", "data-title" => "God's Atomic Answer to Life"}
          =image_tag ('/images/portfolio/studio/Gods-Atomic-Answer-to-Life.jpg')
      .flexy
        %a{href: '/images/portfolio/studio/bones.jpg', "data-lightbox" => "mixedmedia", "data-title" => "Bones"}
          =image_tag ('/images/portfolio/studio/bones.jpg')
      .flexy
        %a{href: '/images/portfolio/studio/deductive.jpg', "data-lightbox" => "mixedmedia", "data-title" => "Deductive Still Life"}
          =image_tag ('/images/portfolio/studio/deductive.jpg')
      .flexy
        %a{href: '/images/portfolio/studio/shoe-or-foot-study.jpg', "data-lightbox" => "mixedmedia", "data-title" => "Leg Study"}
          =image_tag ('/images/portfolio/studio/shoe-or-foot-study.jpg')
      .flexy
        %a{href: '/images/portfolio/studio/Tower-of-Lights.jpg', "data-lightbox" => "mixedmedia", "data-title" => "The Falling Tower of Lights"}
          =image_tag ('/images/portfolio/studio/Tower-of-Lights.jpg')
      .flexy
        %a{href: '/images/portfolio/studio/Monochromatic-Still-Life.jpg', "data-lightbox" => "mixedmedia", "data-title" => "Monochromatic Still Life in Orange"}
          =image_tag ('/images/portfolio/studio/Monochromatic-Still-Life.jpg')
  %article
    %h2 Grafik
    .flex
      .flexy
        %a{href: '/images/portfolio/graphic/wishy-washy.png', "data-lightbox" => "grafik", "data-title" => "Wishy Washy"}
          =image_tag ('/images/portfolio/graphic/wishy-washy.png')
      .flexy
        %a{href: '/images/portfolio/graphic/gentle-cycle.png', "data-lightbox" => "grafik", "data-title" => "Gentle Cycle"}
          =image_tag ('/images/portfolio/graphic/gentle-cycle.png')
      .flexy
        %a{href: '/images/portfolio/graphic/furious.png', "data-lightbox" => "grafik", "data-title" => "Gentle Cycle"}
          =image_tag ('/images/portfolio/graphic/furious.png')
      .flexy
        %a{href: '/images/portfolio/graphic/nuke-bkgd.jpg', "data-lightbox" => "grafik", "data-title" => "Nuclear Destruction"}
          =image_tag ('/images/portfolio/graphic/nuke-bkgd.jpg')
      .flexy
        %a{href: '/images/portfolio/graphic/queen_sym.jpg', "data-lightbox" => "grafik", "data-title" => "The Queen's Crown"}
          =image_tag ('/images/portfolio/graphic/queen_sym.jpg')
      .flexy
        %a{href: '/images/portfolio/graphic/simple-things.png', "data-lightbox" => "grafik", "data-title" => "The Simple Things"}
          =image_tag ('/images/portfolio/graphic/simple-things.png')
      .flexy
        %a{href: '/images/portfolio/graphic/loveless.jpg', "data-lightbox" => "grafik", "data-title" => "Love in a Loveless World"}
          =image_tag ('/images/portfolio/graphic/loveless.jpg')
      .flexy
        %a{href: '/images/portfolio/graphic/john-lennon-type-face-color.jpg', "data-lightbox" => "grafik", "data-title" => "John Lennon Portrait"}
          =image_tag ('/images/portfolio/graphic/john-lennon-type-face-color.jpg')
      .flexy
        %a{href: '/images/portfolio/graphic/not.png', "data-lightbox" => "grafik", "data-title" => "You Are Not"}
          =image_tag ('/images/portfolio/graphic/not.png')

%section.photography
  %h2 Photography
  %article.slider
    .slide
      .image
        =image_tag ('/images/portfolio/photo/sanfran.jpg')
        .caption
          %h5 
            San Francisco &#124; Golden Gate Bridge
    .slide
      .image
        =image_tag ('/images/portfolio/photo/tea-garden.jpg')
        .caption
          %h5 
            San Francisco &#124; Tea Garden Bridge
    .slide
      .image
        =image_tag ('/images/portfolio/photo/strawberry.jpg')
        .caption
          %h5 
            Found Item &#124;
            %span.quote Discarded
    .slide
      .image
        =image_tag ('/images/portfolio/photo/mushroom.jpg')
        .caption
          %h5 
            Found Item &#124; 
            %span.quote Entropy
    .slide
      .image
        =image_tag ('/images/portfolio/photo/strip_message.jpg')
        .caption
          %h5 
            Strip Series &#124;
            %span.quote Earn It
    .slide
      .image
        =image_tag ('/images/portfolio/photo/falling-down.jpg')
        .caption
          %h5 
            Cloud &#124;
            %span.quote Falling Down
    .slide
      .image
        =image_tag ('/images/portfolio/photo/gg-bridge.jpg')
        .caption
          %h5 
            Leg Study &#124;
            %span.quote Expectations
    .slide
      .image
        =image_tag ('/images/portfolio/photo/emulation.jpg')
        .caption
          %h5 
            Emulation &#124; A Sculpture
    .slide
      .image
        =image_tag ('/images/portfolio/photo/gg-bridge.jpg')
        .caption
          %h5 San Francisco &#124; Golden Gate Bridge

