-@title = "Art"
-@page = "art"

%section.studio
  %article
    %h2 The Metal
    .flex
      .flexy
        =image_tag ('/images/portfolio/studio/metal-arm.jpg')
      .flexy
        =image_tag ('/images/portfolio/studio/rabbid.jpg')
      .flexy
        =image_tag ('/images/portfolio/studio/speeder.jpg')
  %article
    %h2 Printmaking
    .flex
      .flexy
        =image_tag ('/images/portfolio/studio/cd-print.jpg')
      .flexy
        =image_tag ('/images/portfolio/studio/polystyrene-dream.jpg')
      .flexy
        =image_tag ('/images/portfolio/studio/film.jpg')
      .flexy
        =image_tag ('/images/portfolio/studio/morpheus.jpg')
      .flexy
        =image_tag ('/images/portfolio/studio/retching-chariot.jpg')
      .flexy
        =image_tag ('/images/portfolio/studio/resting-place.jpg')
      .flexy
        =image_tag ('/images/portfolio/studio/collograph.jpg')
      .flexy
        =image_tag ('/images/portfolio/studio/chernobyl-2.jpg')
      .flexy
        =image_tag ('/images/portfolio/studio/beatles.jpg')
  %article
    %h2 Mixed Media
    .flex
      .flexy
        =image_tag ('/images/portfolio/studio/Gods-Atomic-Answer-to-Life.jpg')
      .flexy
        =image_tag ('/images/portfolio/studio/bones.jpg')
      .flexy
        =image_tag ('/images/portfolio/studio/deductive.jpg')
      .flexy
        =image_tag ('/images/portfolio/studio/shoe-or-foot-study.jpg')
      .flexy
        =image_tag ('/images/portfolio/studio/Tower-of-Lights.jpg')
      .flexy
        =image_tag ('/images/portfolio/studio/Monochromatic-Still-Life.jpg')
  %article
    %h2 Grafik
    .flex
      .flexy
        =image_tag ('/images/portfolio/graphic/wishy-washy.png')
      .flexy
        =image_tag ('/images/portfolio/graphic/gentle-cycle.png')
      .flexy
        =image_tag ('/images/portfolio/graphic/furious.png')
      .flexy
        =image_tag ('/images/portfolio/graphic/nuke-bkgd.jpg')
      .flexy
        =image_tag ('/images/portfolio/graphic/queen_sym.jpg')
      .flexy
        =image_tag ('/images/portfolio/graphic/simple-things.png')
      .flexy
        =image_tag ('/images/portfolio/graphic/loveless.jpg')
      .flexy
        =image_tag ('/images/portfolio/graphic/john-lennon-type-face-color.jpg')
      .flexy
        =image_tag ('/images/portfolio/graphic/not.png')

%section.photography
  %h2 Photography
  %article.slider
    .slide
      .image
        =image_tag ('/images/portfolio/photo/sanfran.jpg')
        .caption
          %h5 
            San Francisco &#124; Golden Gate Bridge
    .slide
      .image
        =image_tag ('/images/portfolio/photo/tea-garden.jpg')
        .caption
          %h5 
            San Francisco &#124; Tea Garden Bridge
    .slide
      .image
        =image_tag ('/images/portfolio/photo/strawberry.jpg')
        .caption
          %h5 
            Found Item &#124;
            %span.quote Discarded
    .slide
      .image
        =image_tag ('/images/portfolio/photo/mushroom.jpg')
        .caption
          %h5 
            Found Item &#124; 
            %span.quote Entropy
    .slide
      .image
        =image_tag ('/images/portfolio/photo/strip_message.jpg')
        .caption
          %h5 
            Strip Series &#124;
            %span.quote Earn It
    .slide
      .image
        =image_tag ('/images/portfolio/photo/falling-down.jpg')
        .caption
          %h5 
            Cloud &#124;
            %span.quote Falling Down
    .slide
      .image
        =image_tag ('/images/portfolio/photo/gg-bridge.jpg')
        .caption
          %h5 
            Leg Study &#124;
            %span.quote Expectations
    .slide
      .image
        =image_tag ('/images/portfolio/photo/emulation.jpg')
        .caption
          %h5 
            Emulation &#124; A Sculpture
    .slide
      .image
        =image_tag ('/images/portfolio/photo/gg-bridge.jpg')
        .caption
          %h5 San Francisco &#124; Golden Gate Bridge

