-@title = "Identity"
-@page = "identity"

%section.logos
  %article.flex
    .flex-logo
      =image_tag ('/images/portfolio/id/logos/rabbitclip.png')
    .flex-logo
      =image_tag ('/images/portfolio/id/logos/hero.png')
    .flex-logo
      =image_tag ('/images/portfolio/id/logos/computer-omaha.png')
    .flex-logo
      =image_tag ('/images/portfolio/id/logos/dumpug-1.png')
    .flex-logo
      =image_tag ('/images/portfolio/id/logos/innergie.png')
    .flex-logo
      =image_tag ('/images/portfolio/id/logos/coral-bowtie.png')

  %article.flex.mobile-hide
    .flex-logo
      =image_tag ('/images/portfolio/id/logos/ne-bbbc.png')
    .flex-logo
      =image_tag ('/images/portfolio/id/logos/mt-man-equipment.png')
    .flex-logo
      =image_tag ('/images/portfolio/id/logos/ecard.png')
    .flex-logo
      =image_tag ('/images/portfolio/id/logos/burnt-orange.png')
    .flex-logo
      =image_tag ('/images/portfolio/id/logos/phoenix-recycling.png')
    .flex-logo
      =image_tag ('/images/portfolio/id/logos/penrose.png')
    .flex-logo
      =image_tag ('/images/portfolio/id/logos/pumpkin-juice-press.png')
    .flex-logo
      =image_tag ('/images/portfolio/id/logos/to-porcelain.png')
    .flex-logo
      =image_tag ('/images/portfolio/id/logos/volcano-tea.png')
    .flex-logo
      =image_tag ('/images/portfolio/id/logos/ivory-coast-tb.png')
    .flex-logo
      =image_tag ('/images/portfolio/id/logos/atl-2.png')
    .flex-logo
      =image_tag ('/images/portfolio/id/logos/slugnut.png')

%section.discovery
  .heading
    %h2 Discovery
    %h4 Very Disco 
  %article
    .identity-discovery
      .flex-transparency.qc
      /with site image background  
      .flex-content
        %h3 Querycreative
        %p
          Looking in the mirror and self-evaluating can be a most difficult and tedious task. After several iterations over the years, (branding back in 2007 and officially declaring a DBA), I’ve finalized the logo, identity, general concept, skill set and direction of work.

    .identity-discovery
      .flex-transparency.bb
      /with site image background  
      .flex-content
        %h3 Beef & Bushel
        %p
          With solely a stated ‘western’ motif to work with, the process took me through several entirely different variations before a finalized logo was agreed upon. Subtext and imagery associated in each variation culminated in the final approved product.

    .identity-discovery
      .flex-transparency.dd
      /with site image background  
      .flex-content
        %h3 D&D Garage Doors
        %p
          Another client just wanted a revamp on an existing logo and color scheme – after just two iterations, we found a suitable design that was close enough to keep their identity stable, yet modernized their look to the extent they desired.

    .identity-discovery
      .flex-transparency.oc
      /with site image background  
      .flex-content
        %h3 Open Country
        %p
          This client operates two entities, Open Country LLC. and Open Country Equipment. Initially I took divergent paths, focusing on their main business (OCE) - after discussing we decided that it would be most successful keeping the two visually entwined.

    .identity-discovery
      .flex-transparency.m2m
      /with site image background  
      .flex-content
        %h3 Married to Massage
        %p
          M2M or Married to Massage is a project that has evolved over the past 6 years. The client approached me for my skill - after rebranding her independent marrage therapy business, she emerged excited and grateful for the message the identity sends.

    .identity-discovery
      .flex-transparency.dg
      /with site image background  
      .flex-content
        %h3 Drilling Green
        %p
          This client was starting a new business and needed everything - a strong identity, social media accounts and imagery, and a cohesive website.

    .identity-discovery
      .flex-transparency.sb
      /with site image background  
      .flex-content
        %h3 Strictly Business
        %p
          This is an exploratory project for a former employer. I sought to upgrade their identity’s look and feel. 

    .identity-discovery
      .flex-transparency.hers
      /with site image background  
      .flex-content
        %h3 Hers Brand Clothing Shirts
        %p
          Commissioned by Jamaal Chinn of Hers Brand Clothing, I designed the first launched line of t-shirts for the brand.

    .identity-discovery
      .flex-transparency.fgdp
      /with site image background  
      .flex-content
        %h3 WSC Planetarium
        %p
          The Fred G. Dale Planetarium on WSC campus was rennovated while I was a student. Our senior design class was tasked with creating a new brand as it relaunched.

    .identity-discovery
      .flex-transparency.srebla
      /with site image background  
      .flex-content
        %h3 Srebla Vino: Country Vines
        %p
          These are the initial mocks delivered for a local wine bottler's label re-branding. They've since won label awards for the their further ravamped image.

    .identity-discovery
      .flex-transparency.soda
      /with site image background  
      .flex-content
        %h3 Minimal Soda Identities
        %p
          This is an exploratory project in minimalistic design and identity of major soda brands. The iconography and colors are strong enough to remain recognizable without type.
