-@title = "Identity"
-@page = "identity"
%section.identity
  %h1 Identity

%section.logos
  %article
    .flex-logo
      =image_tag ('/images/portfolio/id/logos/rabbitclip.png')
    .flex-logo
      =image_tag ('/images/portfolio/id/logos/hero.png')
    .flex-logo
      =image_tag ('/images/portfolio/id/logos/computer-omaha.png')
    .flex-logo
      =image_tag ('/images/portfolio/id/logos/ne-bbbc.png')
    .flex-logo
      =image_tag ('/images/portfolio/id/logos/mt-man-equipment.png')
    .flex-logo
      =image_tag ('/images/portfolio/id/logos/ecard.png')
    .flex-logo
      =image_tag ('/images/portfolio/id/logos/burnt-orange.png')
    .flex-logo
      =image_tag ('/images/portfolio/id/logos/phoenix-recycling.png')
    .flex-logo
      =image_tag ('/images/portfolio/id/logos/slugnut.png')
    .flex-logo
      =image_tag ('/images/portfolio/id/logos/pumpkin-juice-press.png')
    .flex-logo
      =image_tag ('/images/portfolio/id/logos/innergie.png')
    .flex-logo
      =image_tag ('/images/portfolio/id/logos/volcano-tea.png')
    .flex-logo
      =image_tag ('/images/portfolio/id/logos/dumpug-1.png')
    .flex-logo
      =image_tag ('/images/portfolio/id/logos/to-porcelain.png')
    .flex-logo
      =image_tag ('/images/portfolio/id/logos/coral-bowtie.png')
    .flex-logo
      =image_tag ('/images/portfolio/id/logos/ivory-coast-tb.png')
    .flex-logo
      =image_tag ('/images/portfolio/id/logos/atl-2.png')
    .flex-logo
      =image_tag ('/images/portfolio/id/logos/penrose.png')

%section.discovery
  %h1 Discovery
  %h4.quote Very Disco 
  %article
    .identity-discovery
      .flex-transparency.qc
        %h2 QC
      /with site image background  
      .flex-content
        %h3 Querycreative
        %p
          Looking in the mirror and self-evaluating can be a most difficult and tedious task. After several iterations over the years, after branding back in 2007 and officially declaring a DBA in Nebraska, obtaining the .net domain and acquiring the various social media tags as Querycreative, I’ve finalized the logo, identity, general concept, skill set and direction of desired work.

    .identity-discovery
      .flex-transparency.bb
        %h2 B&B
      /with site image background  
      .flex-content
        %h3 Beef & Bushel
        %p
          With solely a stated ‘western’ motif to work with, the process took me through several entirely different variations before a finalized logo was agreed upon. The various subtexts and imagery associated in the logo variations led to several digressions that culminated in the final product.

    .identity-discovery
      .flex-transparency.dd
        %h2 D&D
      /with site image background  
      .flex-content
        %h3 D&D Garage Doors
        %p
          Another client just wanted a revamp on an existing logo and color scheme – after just two iterations, we found a suitable design that was close enough to keep their identity stable, yet modernized their look to the extent they desired.

    .identity-discovery
      .flex-transparency.oc
        %h2 OC
      /with site image background  
      .flex-content
        %h3 Open Country
        %p
          This client operates two entities, Open Country LLC. and Open Country Equipment. Initially I took divergent paths, focusing on their main business (OCE) - after discussing we decided that it would be most successful keeping the two visually entwined.

    .identity-discovery
      .flex-transparency.m2m
        %h2 M2M
      /with site image background  
      .flex-content
        %h3 Married to Massage
        %p
          M2M or Married to Massage is a project that has evolved several times over the past 6 years. The client approached me for my skill and knowledge and after rebranding her independent marrage therapy business, she emerged excited, prosperous and grateful for the message the new identity sends.

    .identity-discovery
      .flex-transparency.dg
        %h2 DG
      /with site image background  
      .flex-content
        %h3 Drilling Green
        %p
          This client was starting a new business and needed everything - a strong identity, social media accounts and imagery, and a cohesive website.

    .identity-discovery
      .flex-transparency.sb
        %h2 SB
      /with site image background  
      .flex-content
        %h3 Strictly Business
        %p
          This is an exploratory project for a former employer. I sought to upgrade their identity’s look and feel. 





