-@title = "Querycreative"
-@page = "index"
%section.whois
  %article
    =image_tag ('/images/ui/qc-hexes.png'), class: "qc-hexes"
    %h2 Whois Querycreative?
    %p
      I am Joshua Schmitz &#123;JS&#125; Doing Business As Querycreative &#8211;
      %br A Lincolnite, Developer, Designer, Artist, Musician, Pokémon Master, Illuminati
      &#40;well, not so much that last one&#41;&#46;

%section.whatdo
  %h2 What I Do
  %article.flex
    .flex-image
      =image_tag ('/images/ui/venn-diagram.png')
    .flex-content
      %h4.code 
        &#62; 
        %span.red SELECT 
        awesome 
        %span.red FROM 
        creative
      %p
        I allow my passion for design to direct my work while leveraging vetted capabilities required for any developer to be successful: a strong grasp of CSS/SASS, HTML/HAML, JavaScript/jQuery/CoffeeScript, Ruby on Rails and PHP – with E-commerce, WordPress, Expression Engine, and Git/SVN experience to boot. This expansive knowledge set allows me to utterly conquer any challenge in a web design, web development or UX/UI role.
      %p
        With eight years of experience designing, coding and rocking websites, I’ve become steeped in the most useful and robust coding languages while also garnering significant design and development experience to mold content into an elegant experience for web users.
      %p
        As a bastion of web design standards, responsive design, and UI/UX principles, I strive to bring slick, slender and sexy websites to life through determination, inspiration and perspiration.

%section.work
  %h2 Current Work
  %article.flex
    .flex-image
      =image_tag ('/images/ui/imac-penrose.png'), class: "imac"
    .flex-content
      %h3 Firespring (42)
      %p
        I design for and test on the latest and greatest technology has to offer for all possible sizes of browsers.
      %p
        Through my current position at Firespring as a  Web Developer and Designer – focused on coding, production and UX/UI – I have augmented my skills in both coding and design with a specific focus on the User’s Experience and End-User Interface and Design.
      =link_to "See Work", "/interactive", class: "button penrose-icon"

%section.upcoming
  %h2 Big Things on the Horizon
  %article.flex
    .flex-image
      =image_tag ('/images/ui/dev-ne.png')
    .flex-content
      %h3 Develop  Nebraska
      %p
        Involvement, Introspection, Self-Awareness, Fluidity, Conviction, Dedication topped with Patience – I sought out a community of developers in Lincoln to further our craft and learn on the fly.
    %hr
    .flex-image
      =image_tag ('/images/ui/design-ne.png')
    .flex-content
      %h3 Design  Nebraska
      %p
        Perspective, Ingenuity,  Immersion, Thick-Skin and a dash of Random – I work to retool the view of the ‘Great Plains’ from sod houses and corn to a more deserved ideation of visionary and inviting.

=render "partials/process"