-@title = "Querycreative"
-@page = "index"
%section.whois
  %article
    =image_tag ('/images/ui/qc-hexes.png'), class: "qc-hexes"
    %h2 Whois Querycreative?
    %p
      I am Joshua Schmitz &#123;JS&#125; Doing Business As Querycreative &#8211;
      %br Lincolnite, Developer, Designer, Artist, Musician, and Pokémon Master

%section.whatdo
  %h2 What I Do
  %article.flex
    .flex-image
      =image_tag ('/images/ui/venn-diagram.png')
    .flex-content
      %h4.code
        &#62;
        %span.red SELECT
        awesome
        %span.red FROM
        creative
      %p
        I allow my passion for both slick User Interfaces and smooth User Experiences to direct my work while leveraging my plethora of capabilities (required for any developer to be successful) which include the following: a strong grasp of CSS/SASS, HTML/5 (HAML/SLIM), ECMAScript: JS/jQuery/CoffeeScript, Ruby (specifically Ruby on Rails), WordPress and robust Git experience.
      %p
        Not only do I develop on the front-end and dabble in the back-end, but I also have a decade of experience heavily utilizing the Adobe Creative Suite's array of applications, specifically Photoshop, Illustrator, Indesign, Dreamweaver (give me Sublime anyday) and After Effects. This expansive and over-lapping knowledge set allows me to utterly conquer any challenge in a web design, web development or UI/UX role.
      %p
        With a total of eight years and counting of experience designing, coding and rocking websites, I’ve become steeped in the most useful and robust coding languages and frameworks while also garnering significant design and development experience to mold content into an elegant experience for web users.
      %p
        As a bastion of web design standards, responsive design, and UI/UX principles, I strive to bring slick, slender and sexy websites to life through determination, inspiration and perspiration.

%section.work
  %h2 Current Work
  %article.flex
    .flex-image.imac
      =image_tag ('/images/ui/imac.png')
    .flex-content
      %h3 Firespring (42)
      %p
        I design for and test on the latest and greatest technology has to offer for all possible sizes of browsers.
      %p
        Through my current position at Firespring as a UI/UX Developer – focused on fornt-end coding, production and UI/UX expertise – I have augmented my skills in both coding and design with a specific focus on the User’s Experience and End-User Interface and Design.
      %p
        The main technologies used in this position includes Git, Ruby on Rails, HTML, Sass, Javascript, jQuery, Angular, AWS (S3 bucket & some server management), BitBucket, MAMP, MySQL & Postgres, developing processes for workflow and testing/QA of projects, and a heaping serving of environment set-up, maintenance and debugging. (DevOp note: would love to use Docker).
      =link_to "See Work", "/interactive", class: "button penrose-icon"
  .toolbar
    %h3 My Toolbox
    .primary
      =image_tag ('/images/external-logos/dev-tools.png')
    .secondary
    .adobe
      =image_tag ('/images/external-logos/adobe-apps.png')


%section.upcoming
  %h2 Big Things on the Horizon
  %article.flex
    .flex-image
      =image_tag ('/images/ui/dev-ne.png')
    .flex-content
      %h3 Develop  Nebraska
      %p
        Involvement, Introspection, Self-Awareness, Fluidity, Conviction, Dedication topped with Patience – built to seek out and curate a community of developers in Lincoln to further our craft and learn on the fly - an in-progress Angular app.
    %hr
    .flex-image
      =image_tag ('/images/ui/design-ne.png')
    .flex-content
      %h3 Design  Nebraska
      %p
        Perspective, Ingenuity, Immersion, Thick-Skin and a dash of Random – I work to retool the view of the ‘Great Plains’ from sod houses and corn to a more deserved ideation of visionary and inviting – an extension of the Develop Nebraska Platform (coming soon).

=render "partials/process"