-@title = "Interactive"
-@page = "interactive"
%section.interactive
  %h1 Interactive

%section.work
  %article
    .flex-image
      =image_tag ('/images/ui/imac.png'), class: "imac with-firespring"
    .flex-content
      %h3 Web Work 
      %p
        I am a UX/UI Developer at Firesping (42 prior to merging) in Lincoln, NE. Also, I design on a per-project basis for Localmize of Omaha, NE. I operate as a freelance agent as time permits, D/B/A Querycreative.

%section.websites
  %article
    .site
      .flex-transparency.m2m
        %h2 M2M
      /with site image background  
      .flex-content
        %h3 MarriedtoMassage.com 
        %p
          This site best serves to display my knowledge and abilities of web design and development. I designed the identity and site from scratch with content input from the client. This site, built in Ruby on Rails, features a full and robust CMS through Rails_Admin and other gems.
        =link_to "View Site", "http://www.marriedtomassage.com/", class: "code-icon"

    .site
      .flex-transparency.rms
        %h2 RMS
      /with site image background  
      .flex-content
        %h3 RachelMSchmitz.com 
        %p
          Built for my significant other as a CV site to offer her accomplishments as Doctor of Sociology, this site incorporates clean, minimal design, strong content and just enough jquery and animation to set the subject apart from others in the field.
        =link_to "View Site", "http://rachelmschmitz.com/", class: "code-icon"

    .site
      .flex-transparency.localmize
        %h2 LM
      /with site image background  
      .flex-content
        %h3 Localmize.com 
        %p
          I redesigned the Localmize site from scratch and implemented it via Wordpress. Built with responsiveness, SEO and customization in mind it is now in the hands of the full-time Localmize staff.
        =link_to "View Site", "http://localmize.com/", class: "code-icon"

    .site
      .flex-transparency.ati
        %h2 ATI
      /with site image background  
      .flex-content
        %h3 atipropertiesllc.com
        %p
          Lauded as the best site design of Localmize by clients and staff, this site incorporates the Facebook API to bring more dynamic content to their site’s rich user interface. (This site is currently managed by the client and Localmize’s full-time staff).
        =link_to "View Site", "http://atipropertiesllc.com/", class: "code-icon"







