-@title = "Interactive"
-@page = "interactive"

%section.work
  %article
    .firespring
    .querycreative
    .content
      %h3 Web Work 
      %p
        I am a UI/UX Developer at Firesping (42 prior to merging) in Lincoln, NE. Also, I design on a per-project basis for Localmize of Omaha, NE. I operate as a freelance agent as time permits, D/B/A Querycreative.

%section.websites
  %h2.heading Websites
  %article
    .site
      .flex-transparency.m2m
      /with site image background  
      .flex-content
        %h3=link_to "MarriedtoMassage.com", "http://www.marriedtomassage.com/", class: "site-link", target: "_blank"
        %p
          This site showcases my abilities in design and development. Designing both identity and site from scratch, this site, built in Ruby on Rails, features a robust CMS through Rails_Admin and other Ruby gems.
        -# =link_to "View Site", "http://www.marriedtomassage.com/", class: "button code-icon", target: "_blank"

    .site
      .flex-transparency.rms
      /with site image background  
      .flex-content
        %h3=link_to "RachelMSchmitz.com", "http://rachelmschmitz.com/", class: "site-link", target: "_blank"
        %p
          Built as a CV site to offer her accomplishments as Doctor of Sociology, this site incorporates clean, minimal design, strong content and just enough jquery and animation to set the subject apart from others in the field.
        -# =link_to "View Site", "http://rachelmschmitz.com/", class: "button code-icon", target: "_blank"

    .site
      .flex-transparency.localmize
      /with site image background  
      .flex-content
        %h3=link_to "Localmize.com", "http://localmize.com/", class: "site-link", target: "_blank"
        %p
          I redesigned the Localmize site from scratch and implemented via Wordpress. Built with responsiveness, SEO and customization in mind it is now maintained by the full-time Localmizers.
        -# =link_to "View Site", "http://localmize.com/", class: "button code-icon", target: "_blank"

    .site
      .flex-transparency.ati
      /with site image background  
      .flex-content
        %h3=link_to "atipropertiesllc.com", "http://atipropertiesllc.com/", class: "site-link", target: "_blank"
        %p
          Lauded as one of the best site designs of Localmize, this site incorporates the Facebook API to bring dynamic content to the rich interface.
        -# =link_to "View Site", "http://atipropertiesllc.com/", class: "button code-icon", target: "_blank"

