-@title = "Services"
-@page = "services"

%section.service-list
  %article
    .service.strategy
      .content
        %h3 Stratego
        %p
          Behind every success is a plan. We meet, we talk, we give & take and formulate your needs, wants and goals to direct your business.

    .service.identity
      .content
        %h3 Identity
        %p
          Who are you? Your identity is centered on the logo and its color scheme. A useful and recognizable logo is simple and should seek a balance of both bold and subtle.

    .service.design
      .content
        %h3 Design
        %p
          You’ll need a cohesive look in everything you produce and offer as a business. I design unique, useable and inviting websites - along with many other deliverables extending to print, ads, motion and promotional items.

    .service.campaign
      .content
        %h3 Campaigns
        %p
          Promote your services &amp; values through several media. Querycreative makes it happen with experience in designing and creating marketing materials and copy.

    .service.production
      .content
        %h3 Production
        %p
          ‘Everything-ography’ on demand – I handle creating and editing photos, videos, and animations. When you need expert advice, I provide consultations and brainstorming on your next marketing and identity leap.

    .service.development
      .content
        %h3 Development
        %p
          With extensive experience and a thirst for continued improvement and learning, Querycreative provides you with not only the latest, but the most future-proof of structures for your site.

    .service.mobile
      .content
        %h3 Device-Agnostic
        %p
          With over half of web traffic flowing through mobile devices and Google taking a firm stance on boosting mobile-friendly sites, it is necessary to have a site that is flexible in and accommodating of various sizes.

    .service.cms
      .content
        %h3 CMS
        %p
          With Ruby on Rails, you’re in control - a custom, robust and secure admin is built to suit your needs. I also have vast experience developing on Wordpress and will gladly tailor to your preference.

    .service.seo
      .content
        %h3 SEO
        %p
          SEO is built right in from start to finish. I’ll even get you started on Google Analytics for monitoring and tracking of information on how your site is performing.

    .service.socmed
      .content
        %h3 Social Media
        %p
          A site alone is but an island, Social Media provides the bridge to the mainland - I ensure your site and media are visually cohesive to promote your business and establish an online rapport with potential clients.

=render "partials/process"