@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:700,400);
@font-face {
    font-family: 'BebasRegular';
    src: url('Bebas-webfont.eot');
    src: url('Bebas-webfont.eot?#iefix') format('embedded-opentype'),
         url('Bebas-webfont.woff') format('woff'),
         url('Bebas-webfont.ttf') format('truetype'),
         url('Bebas-webfont.svg#BebasRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}